			<!-- Inner Page Content // Start -->
			
			<div class="inner-page">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<!-- Inner Page Content Sidebar -->
							<div class="page-sidebar">
								<!-- Page Title -->
								<div class="page-title br-blue">
									<!-- Inner Page Title // Heading -->
									<h2>Why join a Network?</h2>
									<!-- Paragraph -->
									<h4>Do you:</h4>
									<ul class="fancy-list">
										<li>
											<i class="fa fa-check-circle-o"></i> <span class="list-text"> Need actors, writers, musicians, or extras?</span>
										</li>
										<li>
											<i class="fa fa-check-circle-o"></i> <span class="list-text"> Need equipment?</span>
										</li>
										<li>
											<i class="fa fa-check-circle-o"></i> <span class="list-text"> Need advice or critique?</span>
										</li>
										<li>
											<i class="fa fa-check-circle-o"></i> <span class="list-text"> Need exposure?</span>
										</li>
										<li>
											<i class="fa fa-check-circle-o"></i> <span class="list-text"> Need a way to learn about new opportunities?</span>
										</li>
										<li>
											<i class="fa fa-check-circle-o"></i> <span class="list-text"> Have new, creative ideas you want to bounce off your peers?</span>
										</li>
									</ul>
								</div>
								<div class="page-title br-red btn" id="join-net">
									<h3>Join a network today! </h3>
									<h5>Remember, it is FREE</h5>
								</div>
								<div>
								    
								</div>

							</div>
						</div>
						<!-- Main-bar Column -->
						<div class="col-md-9">
							<div class="page-mainbar service">
								<!-- Heading -->
								<h3>Most Active Networks</h3>
								<!-- Service Page Content -->
								<div class="service-content">
									<div class="row">
										<div class="col-md-12 col-sm-12">
											<%= image_tag("network_map.JPG", :class =>"network_map")%>
										</div>
										
									</div>
									<div class="row">
										<div class="col-md-8 col-sm-3">
											<!-- Icon -->
											<a href="#"><i class="fa fa-star br-blue"></i></a>
											<!-- Heading -->
											<h4 style="margin-left: 77px;">Cities</h4>
											<!-- Paragraph -->
											<ul class="two-col-list">
											    <li><i class="fa fa-map-marker"></i><span class="list-text-2">New York</span></li>
											    <li><i class="fa fa-map-marker"></i><span class="list-text-2">Los Angeles</span></li>
											    <li><i class="fa fa-map-marker"></i><span class="list-text-2">Chicago</span></li>
											    <li><i class="fa fa-map-marker"></i><span class="list-text-2">DC</span></li>
											    <li><i class="fa fa-map-marker"></i><span class="list-text-2">Nashville</span></li>
											    <li><i class="fa fa-map-marker"></i><span class="list-text-2">Austin</span></li>
											    <li><i class="fa fa-map-marker"></i><span class="list-text-2">Las Vegas</span></li>
											    <li><i class="fa fa-map-marker"></i><span class="list-text-2">Bay Area</span></li>
											    <li><i class="fa fa-map-marker"></i><span class="list-text-2">Atlanta</span></li>
											    <li><i class="fa fa-map-marker"></i><span class="list-text-2">Seattle</span></li>
											</ul>
											<div class="clearfix"></div>
										</div>
										<div class="col-md-4 col-sm-12 ">
											<button class="btn br-blue" id="nominate-network">
												 Nominate your city!
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Inner Page Content // End -->

	